<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>shopping cart demo</title>
    <style>
        
        .menu-disabled-true { 
            color: gray;
        }
        
        
        .ng-hide {
            /* Not to worry, this will override the AngularJS default... */
            display:block!important;

            /* this is just another form of hiding an element */
            position:absolute;
            top:-9999px;
            left:-9999px;
        }

    </style>
</head>

<body ng-controller='VariousController'> 
    
    <h1>Your Shopping Cart</h1>

    <div ng-repeat='item in items'>
        <span>{{item.title}}</span>
        <input ng-model='item.quantity'>
        <span>{{item.price | currency}}</span> 
        <span>{{item.price * item.quantity | currency}}</span> 
        <button ng-click="remove($index)">Remove</button>
    </div>
    
    <hr>
    <h2>sundry items</h2>

    <div ng-repeat='sundryItem in sundries'>
        <span>{{sundryItem.title}}</span>
        <input ng-model='sundryItem.quantity'>
        <span>{{sundryItem.price | currency}}</span> 
        <span>{{sundryItem.price * sundryItem.quantity | currency}}</span> 
        <button ng-click="sundryRemove($index)">Remove</button>
    </div>

    <p ng-bind="messages.moo"></p>  

    <ul> 
        <li ng-repeat='student in students'>
            <a ng-href='/student/view/{{student.id}}'>{{student.name}}</a> 
        </li>
        <button ng-click="insertTom()">Insert Tom</button>
    </ul>

    <table> 
        <tr ng-repeat='track in album'>
            <td>{{$index + 1}}</td> 
            <td>{{track.name}}</td> 
            <td>{{track.duration}}</td>
      </tr>
    </table>

    <div>
        <button ng-click='toggleMenu()'>Toggle Menu Hide</button> 
        
        <ul ng-show='menuState.show'>
            <li class='menu-disabled-{{isDisabled}}' ng-click='stun()'>Stun</li>
            <li ng-click='disintegrate()'>Disintegrate</li> 
            <li ng-click='erase()'>Erase from history</li>
        </ul> 
    </div>

    <div> 
        ...
        <div ng-class='{error: isError, warning: isWarning}'>   
            {{messageText}}
        </div> 
        ...
        <hr>
        <button ng-click='showError()'>Simulate Error</button>
        <button ng-click='showWarning()'>Simulate Warning</button>
    </div>
    
    <hr>
    
    <hgroup>
        <h4>a simple toggle button with classes &amp; text changes</h4>
        <h3>{{patient.archived && 'On' || 'Off'}}</h3>
        <button ng-class="{true: 'primary', false: 'danger'}[patient.archived]" ng-click="patient.archived = !patient.archived">
            {{patient.archived && 'Unarchive' || 'Archive'}}
        </button>
    </hgroup>
    


<script src="static/js/angular.min.js"></script>
<script src="static/js/controllers.js"></script>

</body>
</html>
