html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: 'Roboto';
  line-height: 1.4;
  font-weight: 300;
  padding: 0;
  margin: 0;

  background: #fff;
  color: #858789;
}
header {
  background: #f1f1f1;
  border-bottom: 1px solid #e8e8e8;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 49px;
}
#yt-ui-bg {
  width: 1237px;
  min-height: 1100px;
  margin: 0 auto;
  position: relative;
  background: url(../img/yt-ui-bg.jpg) no-repeat 0 0;
}
#cube-contnr {
  width: 940px;
  height: 940px;
  position: absolute;
  top: 250px;
  left: calc(50% - 469px);
}
@media only screen and (max-width: 1241px) {
  #cube-contnr {
    left: 148px;
  }
}